
<aside>
   <img src="{{user.imgPath}}" alt="" style="width:100px;height:100px">
   <h1>{{user.username}}</h1>
   <h3>Trips</h3>
   <h3>Friends</h3>
   <h3><a href="/social/settings">Settings</a></h3>
  </aside>
