
 <div class="login">
  <div class="login-form">
    <img class="logo-login" src="../images/enigma-logo-white.svg" alt="">
    <h1>Login</h1>
    <form action="/auth/login" method="POST" id="form-container">

    
     
      <input id="username" type="text" name="username" placeholder="JonSnow">

      <br><br>

      <input id="password" type="password" name="password" placeholder="Your password">
      <br>
      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}

      <br><br>

      <button>Login</button>

      <p class="account-message">
        Don't have an account yet?
        <a href="/auth/signup">Signup</a>
      </p>
    </form>
  </div>
</div>